<section fxLayout="column wrap" fxLayoutAlign="center center" class="vd-container-header vd-bg-primary-dream">
  <div fxFlex class="vd-container-text vd-fg-primary-vision">
    <span>About Us</span>
  </div>
</section>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-wrapper-layout">
  <div fxFlex="90%" fxFlex.lt-md="100%" class="vd-wrapper-flex">
    <div class="vd-container">
      <h3 class="vd-heading-text-left vd-fg-body-gray">
        Philosophy
      </h3>
      <p>
        Our vision to become a dream focuses on providing small and medium enterprises
        with custom web designed and developed Information and Communications Technology (ICT) solutions. We
        favour a philosophy of simple, flexible and elegant solutions that add value to address business needs.
        We pride ourselves on delivering solutions that are relevant to your business and that keep abreast
        with current technology standards.
      </p>
      <p>
        We are not driven by ICT technology trends or hype, but by good old-fashioned common sense,
        so to realise your business <b>vision</b> to become your <b>dream</b>.
      </p>

      <h3 class="vd-heading-text-left vd-fg-body-gray">
        Culture and Values
      </h3>
    </div>
  </div>
</div>
