<section fxLayout="column wrap" fxLayoutAlign="center center" class="vd-container-header vd-bg-base-dream">
  <div class="vd-app-welcome-title">
    <span class="vd-fg-primary-vision">Vision</span>
    <span class="vd-fg-primary-dream">Dream </span>
    <span class="vd-fg-white">ICT Solutions</span>
  </div>

  <div class="vd-app-welcome-tagline">
    <span class="vd-fg-white">Your vision is your dream</span>
    <br><br>
  </div>

  <div id="vd-btn-container"
        class="vd-container-ripple mat-elevation-z4"
        matRipple
        [matRippleCentered]="rippleCentered"
        [matRippleDisabled]="rippleDisabled"
        [matRippleUnbounded]="rippleUnbounded"
        [matRippleRadius]="rippleRadius"
        [matRippleColor]="rippleColor">
    <a mat-raised-button
        role="button"
        href="/#/services"
        class="vd-btn-global vd-btn-dream-primary-outline">
      <span class="vd-action-group">
        Learn more
      </span>
    </a>
  </div>
  <br>

</section>

<section fxLayout="row wrap" fxLayoutAlign="center center" class="vd-wrapper-layout">
  <div fxFlex="90%" fxFlex.lt-md="100%" class="vd-wrapper-flex">
    <div class="vd-container">

      <!--<div class="vd-full-screen vd-bg-img">
    <p>Fullscreen<p>
  </div>-->

      <div class="vd-app-welcome-text">
        <span class="vd-fg-body-gray">Welcome to VisionDream ICT Solutions</span>
      </div>

      <div class="vd-paragraph-text-left">
        <p>
          Our vision to become a dream focuses on providing small and medium enterprises
          with custom web designed and developed Information and Communications Technology (ICT) solutions. We
          favour a philosophy of simple, flexible and elegant solutions that add value to address business needs.
          We pride ourselves on delivering solutions that are relevant to your business and that keep abreast
          with current technology standards.
        </p>

        <p>
          We are not driven by ICT technology trends or hype, but by good old-fashioned common sense,
          so to realise your business ICT <b>vision</b> and <b>dream</b>.
        </p>
      </div>

      <br />

      <h3 class="vd-heading-text-left vd-fg-body-gray">
        Recent Projects
      </h3>
      <mat-tab-group (selectedTabChange)="executeSelectedChange($event)" class="vd-container fg-black">
        <mat-tab label="VisionDream" class="vd-control-text">
          <p>
            <b>
              <span class="vd-fg-primary-vision">Vision</span>
              <span class="vd-fg-primary-dream">Dream</span>
            </b> website project. Our in-house development
            project offering business services on providing small and medium enterprises with custom developed
            web technology solutions.
          </p>
        </mat-tab>
        <mat-tab label="LCS GFI" class="vd-control-text">
          <p>
            <b>LCS Global Forex Institute</b> website project. The business is offering Forex training to all
            persons interested.
          </p>
        </mat-tab>
        <mat-tab label="Soweto Tutor" class="vd-control-text">
          <p>
            <b>Soweto Tutor</b> website project. The business is offering teaching of mathematics and science that
            cater for children and adults.
          </p>
        </mat-tab>
      </mat-tab-group>

      <br />

      <h3 class="vd-heading-text-left vd-fg-body-gray">
        Follow {{VDBuildVersionModel.Title}}
      </h3>
      <div id="vd-btn-container-social">
        <a class="vd-btn-global-social vd-btn-facebook"
           href="{{VDBuildVersionModel.VDUrlFacebook}}" target="_blank">
        </a>
        <a class="vd-btn-global-social vd-btn-twitter"
           href="{{VDBuildVersionModel.VDUrlTwitter}}" target="_blank">
        </a>
        <a class="vd-btn-global-social vd-btn-linkedin"
           href="{{VDBuildVersionModel.VDUrlLinkedIn}}" target="_blank">
        </a>
        <a class="vd-btn-global-social vd-btn-github"
           href="{{VDBuildVersionModel.VDUrlGitHub}}" target="_blank">
        </a>
      </div>

    </div>
    </div>
</section>


<!--
- Copyright © 2019 VisionDream ICT Solutions. All Rights Reserved.
- Use of this source code is governed by VisionDream-style license
- that can be found in the LICENSE file at the below link address
- http://visiondream.local/#/legal/terms
-->
