<div fxLayoutAlign="center" class="vd-container-header vd-bg-primary-dream px-4">
  <h1 class="vd-container-text vd-fg-primary-vision">Welcome</h1>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="vd-flex-wrapper">
    <div class="vd-container">

      <!--<div class="vd-full-screen vd-bg-img">
        <p>Fullscreen<p>
      </div>-->

      <div class="vd-welcome-text">
        <span class="vd-fg-primary-vision">Vision</span>
        <span class="vd-fg-primary-dream">Dream </span>
        <span class="vd-fg-dark-gray">ICT Solutions</span>
      </div>

      <p>
        Welcome to VisionDream Our vision to become a dream focuses on providing small and medium enterprises
        with custom web designed and developed Information and Communications Technology (ICT) solutions. We
        favour a philosophy of simple, flexible and elegant solutions that add value to address business needs.
        We pride ourselves on delivering solutions that are relevant to your business and that keep abreast
        with current technology standards.
      </p>
      <p>
        We are not driven by ICT technology trends or hype, but by good old-fashioned common sense,
        so to realise your business ICT <b>vision</b> and <b>dream</b>.
      </p>

      <h3 class="vd-heading-text-center vd-fg-primary-dream">
        Recent Projects
      </h3>
      <mat-tab-group (selectedTabChange)="executeSelectedChange($event)" class="vd-container fg-black">
        <mat-tab label="VisionDream" class="vd-control-text">
          <p>
            <b>
              <span class="vd-fg-primary-vision">Vision</span>
              <span class="vd-fg-primary-dream">Dream</span>
            </b> website project. Our in-house website development
            project offering business services on providing small and medium enterprises with custom developed
            web technology solutions.
          </p>
        </mat-tab>
        <mat-tab label="LCS GFI" class="vd-control-text">
          <p>
            <b>LCS Global Forex Institute</b> website project. The business is offering Forex training to all
            persons interested.
          </p>
        </mat-tab>
        <mat-tab label="Soweto Tutor" class="vd-control-text">
          <p>
            <b>Soweto Tutor</b> website project. The business is offering teaching of mathematics and science that
            cater for children and adults.
          </p>
        </mat-tab>
      </mat-tab-group>

      <h3 class="vd-heading-text-center vd-fg-primary-dream">
        Follow Us
      </h3>
      <div id="vd-btn-social-container">
        <a class="vd-btn-social-global vd-btn-facebook"
           href="https://web.facebook.com/VisionDreamICT/"
           target="_blank" rel="noreferrer">
        </a>
        <a class="vd-btn-social-global vd-btn-twitter"
           href="https://twitter.com/VisionDreamICT"
           target="_blank" rel="noreferrer">
        </a>
        <a class="vd-btn-social-global vd-btn-linkedin"
           href="https://www.linkedin.com/in/vision-dream-ict-solutions-7a73bb14a/"
           target="_blank" rel="noreferrer">
        </a>
      </div>

    </div>
    </div>
</div>


<!--
- Copyright © 2019 VisionDream ICT Solutions. All Rights Reserved.
- Use of this source code is governed by VisionDream-style license
- that can be found in the LICENSE file at the below link address
- http://visiondream.local/#/legal/terms
-->
