/*----- Topnav link styles -----*/

$vd-topbar-height: 56px !default;
$vd-topbar-icon-menu: 2px !default;
$vd-topbar-title: 2px !default;

$vd-topbar-icon: 1px !default;
$vd-topbar-item: 1px !default;

.vd-topnav-height {
  height: $vd-topbar-height;
}

.vd-topnav-spacer {
  flex: 1 1 auto;
}

.vd-topnav-icon-menu {
  padding: 0 $vd-topbar-icon-menu;
}

.vd-topnav-title {
  margin: 0 $vd-topbar-title;
  margin-bottom: 4px;
}

.vd-topnav-icon {
  padding: 0 $vd-topbar-icon;
}

.vd-topnav-padding {
  padding: 0 $vd-topbar-item;
}

.vd-topnav-toolbar-mobile .vd-topnav-toolbar {
  position: fixed;
  z-index: 10;
}

.vd-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.vd-topnav-toolbar-row {
  justify-content: space-between;
}

.vd-topnav-item {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.vd-topnav-item-active {
  background: transparent;
  color: var(--vd-clr-yellow-pure) !important;
  font-weight: bold;
  cursor: pointer;
}

.vd-ripple-container {
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 300px;
  line-height: 300px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.vd-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.vd-ripple-form-field {
  margin: 0 12px 0 0;
}
