<app-layout>
  <div class="vd-container-nav-responsive" [class.vd-mobile-toolbar]="mobileQuery.matches">
    <app-top-nav (sidenavToggle)="sidenav.toggle()">
    </app-top-nav>
    <mat-sidenav-container class="vd-container-sidenav"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #sidenav
                    [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches"
                    fixedTopGap="56">
        <app-side-nav (sidenavClose)="sidenav.close()">
        </app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</app-layout>
