/**
* Move down content because we have a fixed navbar that is 4.5rem tall.
* Show that the navbar is fixed to the top.
**/
/*body {
  min-height: 75em;
  padding-top: 4.5em;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}*/

/*----- Side nav css styles -----*/
#vd-container-sidenav, #vd-sidenav, #vd-sidenav-content {
  height: var(--vd-ph-100);
}

#vd-sidenav {
  width: 250px;
}

#vd-main {
  padding: 0;
}

#vd-container-sidenav {
  flex: 1;
}

.vd-mobile-toolbar {
  background: inherit;
}

.vd-mobile-toolbar #vd-container-sidenav {
  flex: 1 0 auto;
}

/*----- Responsive navigation and sidenav CSS styles -----*/
#vd-nav-container-responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#vd-nav-container-fixed {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

/*----- Fixed navigation and sidenav CSS styles -----*/
.vd-fixed-sidenav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: var(--vd-clr-gray-very-very-light);
}

.vd-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.vd-fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*----- Double navbar and sidenav CSS styles -----*/
/*.navbar {
  z-index: 1040;
}

.vd-side-nav {
  margin-top: 57px !important;
}

.vd-double-nav .vd-breadcrumb-dn p {
  color: var(--vd-clr-other-white);
}

@media (min-width: 1200px){
.vd-fixed-sn main {
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}*/
