/**
* Move down content because we have a fixed navbar that is 4.5rem tall.
* Show that the navbar is fixed to the top.
**/
/*body {
  min-height: 75em;
  padding-top: 4.5em;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}*/
