<!--<app-layout>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="over" role="navigation">
      !--SideNav navigation--
      <app-side-nav (sidenavClose)="sidenav.close()">
      </app-side-nav>
      !--/.SideNav navigation--
    </mat-sidenav>
    <mat-sidenav-content>
      !--TopNav navigation--
      <app-top-nav (sidenavToggle)="sidenav.toggle()">
      </app-top-nav>
      !--/.TopNav navigation--
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>-->
<!--<div class="vd-nav-container-responsive" [class.vd-mobilebar-responsive]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="vd-topbar-responsive">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="vd-app-name">{{VD_SiteAppName}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="vd-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let navMenu of navMenuFiller">{{navMenu.title}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <p *ngFor="let homeContent of homeContentFiller">{{homeContent}}</p>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->
<mat-sidenav-container class="vd-sidenav-container">
  <mat-sidenav #drawer class="vd-sidenav" fixedInViewport
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">more_vert</mat-icon>
        <span>Menu</span>
      </button>
      <!--<mat-menu #siteMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Help</span>
        </button>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>-->
      <!--<a mat-button
          matTooltip="Home"
          matTooltipClass="vd-tooltip-black"
          role="button"
          routerLink="/home">
        <img src="projects/visiondream-site/src/assets/vd/brand/logo/vd-logo-colour.png" height="32"
              alt="VisionDream logo">
      </a>-->
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item routerLink="/portfolio">Portfolio</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/support">Support</a>
      <a mat-list-item routerLink="/register">Register</a>
      <a mat-list-item routerLink="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="vd-top-nav mat-elevation-z7">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="vd-app-name">{{VD_SiteAppName}}</h1>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
