<div style="height: 100vh">
  <div class="flex-center flex-column">
    <app-layout>
      <div class="vd-responsive-nav-container" [class.vd-mobile-toolbar]="_mobileQuery.matches">
        <app-top-nav (sidenavToggle)="sidenav.toggle()">
        </app-top-nav>
        <mat-sidenav-container class="vd-sidenav-container"
                               [style.marginTop.px]="_mobileQuery.matches ? 56 : 0">
          <mat-sidenav #sidenav
                       [mode]="_mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="_mobileQuery.matches"
                       fixedTopGap="56">
            <app-side-nav (sidenavClose)="sidenav.close()">
            </app-side-nav>
          </mat-sidenav>
          <mat-sidenav-content>
            <main>
              <div class="container">
                <router-outlet></router-outlet>
              </div>
            </main>
            <div class="container">
              <app-footer></app-footer>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </app-layout>
  </div>
</div>
