/*----- Sidenav link styles -----*/
/*a {
  color: var(--dark-gray) !important;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
}
  a:hover, a:focus {
    color: var(--deep-sky-blue-capri) !important;
    display: inline-block;
  }*/

$vd-sidebar-height: 56px !default;
$vd-sidebar-icon-menu: 16px !default;
$vd-sidebar-title: 16px !default;

$vd-sidebar-icon: 8px !default;
$vd-sidebar-item: 8px !default;

.vd-sidenav-height {
  height: $vd-sidebar-height;
}

.vd-sidenav-spacer {
  flex: 1 1 auto;
}

.vd-sidenav-icon-menu {
  margin: 0 $vd-sidebar-icon-menu 0 $vd-sidebar-icon-menu;
  display: inline-block;
}

.vd-sidenav-title {
  width: 100%;
  margin: 0 $vd-sidebar-title 0 $vd-sidebar-title;
  display: inline-block;
}

.vd-sidenav-icon-social {
  margin: 0 $vd-sidebar-icon 0 $vd-sidebar-icon;
  display: inline-block;
}

.vd-sidenav-icon {
  padding: 0 $vd-sidebar-icon;
  display: inline-block;
}

.vd-sidenav-item {
  margin: 0 $vd-sidebar-item;
  margin-top: 8px;
  display: inline-block;
}

.vd-sidenav-item-active {
  display: inline-block;
  background: transparent;
  color: var(--vd-clr-blue-capri) !important;
  font-weight: bold;
}

.vd-sidenav-toolbar .mat-toolbar {
  background: inherit;
}

.vd-sidenav-toolbar-row {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
