<mat-nav-list>
  <mat-toolbar color="primary" class="vd-sidenav-toolbar vd-bg-very-light-gray-white">
    <mat-toolbar-row class="vd-sidenav-toolbar-row">
      <a mat-list-item
         role="button"
         aria-label="VisionDream logo home side navigation link item"
         routerLink="/home"
         (click)="onSidenavClose()">
        <span class="vd-sidenav-title">
          <img src="assets/vd/brand/logos/vd-logo-color.png"
               height="32" alt="{{VD_SiteAppName}}">
        </span>
      </a>
    </mat-toolbar-row>
    <!-- Social connect -->
    <mat-toolbar-row class="vd-sidenav-toolbar-row">
      <a mat-list-item
         type="button"
         aria-label="Facebook side navigation link item"
         href="https://web.facebook.com/VisionDreamICT/"
         target="_blank" rel="noreferrer">
        <span class="vd-sidenav-icon-social">
          <mat-icon aria-hidden="false" aria-label="Facebook side navigation link item icon">
            <fa-icon [icon]="vdFaFacebook" class="vd-icon-20"></fa-icon>
          </mat-icon>
        </span>
      </a>
      <a mat-list-item
         type="button"
         aria-label="Twitter side navigation link item"
         href="https://twitter.com/VisionDreamICT"
         target="_blank" rel="noreferrer">
        <span class="vd-sidenav-icon-social">
          <mat-icon aria-hidden="false" aria-label="Twitter side navigation link item icon">
            <fa-icon [icon]="vdFaTwitter" class="vd-icon-20"></fa-icon>
          </mat-icon>
        </span>
      </a>
      <a mat-list-item
         type="button"
         aria-label="GitHub side navigation link item"
         href="https://github.com/visiondream-organization/visiondream-solution"
         target="_blank" rel="noreferrer">
        <span class="vd-sidenav-icon-social">
          <mat-icon aria-hidden="false" aria-label="GitHub side navigation link item icon">
            <fa-icon [icon]="vdFaGithub" class="vd-icon-20"></fa-icon>
          </mat-icon>
        </span>
      </a>
    </mat-toolbar-row>
    <!--/. Social connect -->
    <!-- Search form -->
    <mat-toolbar-row class="vd-sidenav-toolbar-row">
      <form class="form-inline">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <input matInput placeholder="Search" type="text" aria-label="Search">
            </mat-form-field>
          </div>
        </div>
      </form>
      <!--/. Search form -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <!-- Sidenav menu -->
  <a mat-list-item
     role="button"
     aria-label="Home side navigation link item"
     routerLink="/home"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Home side navigation link item icon">
        <fa-icon [icon]="vdFaHome" class="vd-icon-20"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Home
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="Services side navigation link item"
     routerLink="/services"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Services side navigation link item icon">
        <fa-icon [icon]="vdFaClipboardList" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Services
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="Portfolio dropdown side navigation link item"
     [matMenuTriggerFor]="portfolio">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Portfolio dropdown side navigation link item icon">
        <fa-icon [icon]="vdFaArchive" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Portfolio
    </span>
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Portfolio dropdown top navigation link item icon">
        <fa-icon [icon]="vdFaAngleDown" class="vd-icon-16"></fa-icon>
      </mat-icon>
    </span>
  </a>
  <mat-menu #portfolio="matMenu"
            yPosition="below">
    <a mat-menu-item
       role="button"
       aria-label="Portfolio dropdown menu item link Recent projects"
       routerLink="/portfolio">
      <span class="vd-sidenav-item">
        Recent Projects
      </span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item
       role="button"
       aria-label="Portfolio dropdown menu item link VisionDream"
       routerLink="/portfolio/visiondream">
      <span class="vd-sidenav-item">
        VisionDream
      </span>
    </a>
    <a mat-menu-item
       role="button"
       aria-label="Portfolio dropdown menu item link LCF GFI"
       routerLink="/portfolio/lcf-gfi">
      <span class="vd-sidenav-item">
        LCF GFI
      </span>
    </a>
    <a mat-menu-item
       role="button"
       aria-label="Portfolio dropdown menu item link Soweto Tutor"
       routerLink="/portfolio/soweto-tutor">
      <span class="vd-sidenav-item">
        Soweto Tutor
      </span>
    </a>
  </mat-menu>

  <a mat-list-item
     role="button"
     aria-label="Contact side navigation link item"
     routerLink="/contact"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Contact side navigation link item icon">
        <fa-icon [icon]="vdFaEnvelope" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Contact
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="About side navigation link item"
     routerLink="/about"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="About side navigation link item icon">
        <fa-icon [icon]="vdFaInfoCircle" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      About
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="Support side navigation link item"
     routerLink="/support"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Support side navigation link item icon">
        <fa-icon [icon]="vdFaQuestionCircle" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Support
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="Register side navigation link item"
     routerLink="/register"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Register side navigation link item icon">
        <fa-icon [icon]="vdFaUser" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Register
    </span>
  </a>
  <a mat-list-item
     role="button"
     aria-label="Login side navigation link item"
     routerLink="/login"
     (click)="onSidenavClose()">
    <span class="vd-sidenav-icon">
      <mat-icon aria-hidden="false" aria-label="Login side navigation link item icon">
        <fa-icon [icon]="vdFaSignInAlt" class="vd-icon-size"></fa-icon>
      </mat-icon>
    </span>
    <span class="vd-sidenav-item">
      Login
    </span>
  </a>
  <!--/. Sidenav menu -->
</mat-nav-list>
