<div fxLayoutAlign="center" class="vd-container-header vd-bg-primary-dream px-4">
  <h2 class="vd-container-text vd-fg-primary-vision">Our Services</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-wrapper-layout">
  <div fxFlex="90%" fxFlex.lt-md="100%" class="vd-wrapper-flex">
    <div class="vd-container">
      <h3 class="vd-heading-text-left vd-fg-body-gray">
        Software Engineering Services
      </h3>
      <p>
        Our speciality is in software engineering services that include development of database-driven
        line-of-business systems, web based applications and web interfaces that solve business problems.
      </p>
      <p>
        This allows us to deliver high-quality systems within shorter than expected time-frames - translating
        into lower cost of development for our clients.
      </p>
    </div>
  </div>
</div>
