<!--<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="100%" fxFlex.lt-md="100%" class="vd-flex-wrapper">-->

<footer class="vd-footer-container vd-bg-base-dream border-top">
  <div class="vd-footer vd-footer-info fg-black">
    &copy; {{VDBuildVersionModel.VDCopyright}}
    <a routerLink="/legal/terms-of-service">
      <mat-icon aria-hidden="false" aria-label="Terms of service footer navigation link item">
        <fa-icon [icon]="vdFaBalanceScale" class="vd-icon-small-left"></fa-icon>
      </mat-icon>
      Terms
    </a>
    <mat-icon aria-hidden="true">
      <fa-icon [icon]="vdFaPlus" class="vd-icon-small"></fa-icon>
    </mat-icon>
    <a routerLink="/legal/privacy-policy">
      Privacy
      <mat-icon aria-hidden="false" aria-label="Privacy policy footer navigation link item">
        <fa-icon [icon]="vdFaUserSecret" class="vd-icon-small-right"></fa-icon>
      </mat-icon>
    </a>
    <mat-icon aria-hidden="true">
      <fa-icon [icon]="vdFaCircle" class="vd-icon-extra-small"></fa-icon>
    </mat-icon>
    Super-powered by
    <a href="{{VDBuildVersionModel.VDUrlLocal}}" target="_blank" rel="noreferrer">
      {{VDBuildVersionModel.VDDesc}}
    </a>
  </div>
</footer>

<!--</div>
</div>-->
