a {
  background: transparent !important;
  color: var(--vd-clr-other-white) !important;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
  a:active, a:hover {
    background: inherit;
    color: var(--vd-clr-yellow-pure) !important;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline-width: 0;
  }

.vd-footer-border-top {
  border-top: 2px solid var(--vd-clr-gray-dark) !important;
}

#vd-container-footer-old {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

.vd-container-footer {
  /*background: inherit;*/
  color: var(--vd-clr-other-white);
  text-align: center;
  padding: 5px 0 5px 0;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
}

.vd-logo-height-footer {
  height: 40px;
}

.vd-fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
