/*.vd-mat-form-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

.vd-mat-form-container > * {
  width: 100%;
}

.vd-mat-form-container form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vd-mat-form-container form > * {
  margin: 5px 0;
}

.vd-mat-form-container .mat-card {
  margin-bottom: 20px;
}

.vd-mat-form-container .mat-card > * {
  margin: 5px 0;
}

.vd-mat-form-container .button {
  margin: 0 12px;
}

.vd-mat-form-container .mat-raised-button {
  margin: 0 12px;
}

.vd-login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.vd-full-width {
  width: 100%;
}

.vd-card-center {
  display: flex;
  justify-content: center;
}

.vd-login-card {
  min-width: 120px;
  margin: 20px auto;
}

.button.mat-raised-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}*/

/**
 * Global Component Styles
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  background: transparent !important;
  color: var(--vd-clr-blue-capri) !important;
  text-decoration: none;
  display: inline-block;
}
  a:hover,
  a:focus {
    background: inherit;
    color: var(--vd-clr-yellow-pure) !important;
    text-decoration: none;
    display: inline-block;
    outline-width: 0;
  }

/********************** VD Card and Mat Card **********************/

/**
 * Form Login Styles
 */
.form-dark .font-small {
  font-size: 0.8em;
}

.form-dark [type="checkbox"] + label,
.form-dark [type="radio"] + label {
  font-size: 0.8em;
}

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.form-dark .md-form label {
  color: var(--vd-clr-other-white) !important;
}

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid var(--vd-clr-blue-capri);
  -webkit-box-shadow: 0 1px 0 0 var(--vd-clr-blue-capri);
  box-shadow: 0 1px 0 0 var(--vd-clr-blue-capri);
}

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: var(--vd-clr-other-white) !important;
}

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid var(--vd-clr-blue-capri);
  -webkit-box-shadow: 0 1px 0 0 var(--vd-clr-blue-capri);
  box-shadow: 0 1px 0 0 var(--vd-clr-blue-capri);
}

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: var(--vd-clr-other-white) !important;
}

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid var(--vd-clr-other-white) !important;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent var(--vd-clr-blue-capri) var(--vd-clr-blue-capri) transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
