section div p:nth-child(1) {
  font-size: 50px;
  text-align: center;
  color: var(--vd-clr-red-bright);
}

section div p:nth-child(2) {
  font-size: 20px;
  text-align: center;
  color: var(--vd-clr-blue-moderate);
}

mat-checkbox {
  color: var(--vd-clr-blue-moderate);
}

section div h1 {
  text-align: center;
  color: var(--vd-clr-blue-moderate);
  position: relative;
  top: -85px;
}
